<!DOCTYPE html>
<html>
	<head>
		<title>TV</title>
	</head>
	<body>
		<iframe id="presentFrame" src="https://docs.google.com/presentation/d/15UmUDHGWnhLkJCVcv9lMfk9p97i5q3s4HUp9kCIA2SI/embed?start=true&loop=true&delayms=30000" frameborder="0" width="100%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
		<div id="time"></div>
	</body>
	<style>
	html, body {

		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		background: black;
		color: white;
	}
	#time {
		position: absolute;
		font-size: 180px;
		bottom: 40px;
		right: 200px;
	}
	</style>
	<script>
		// update with the desired time to refresh the presentation (in minutes)
		var refreshMinutes = 30;
		
		var timer=setInterval(function(){refreshFrame()}, refreshMinutes*60*1000);
		function refreshFrame()
		{
			var iframe = document.getElementById('presentFrame');
			var iframeURL = iframe.src;
			iframe.src = iframeURL;
		}
	</script>
	<script src="https://fb.me/react-15.0.0.js"></script>
	<script src="https://fb.me/react-dom-15.0.0.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
	<script src="clock.jsx" type="text/babel"></script>
</html>